# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# env files
.env.local
.env.* 
!.env.example

# firebase / google config
src/google-services.json

# dependencies & build output
node_modules/
dist/
.vite/

# logs
*.log

#Sample files
sample_*.xlsx
sample_*.csv
